* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  font-family: "Orbitron", serif;
}

body {
  /* background-color: rgb(240, 0, 160); */
  background-image: linear-gradient(
    to right bottom,
    rgb(255, 0, 170),
    rgb(176, 0, 120)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.container {
  max-width: 360px;
  background-color: aliceblue;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
}
.toggled-container {
  background-color: rgb(29, 29, 29);
}

/* them toggle effect */
.toggle {
  width: 55px;
  height: 25px;
  background-color: aliceblue;
  border-radius: 100px;
  padding: 1px;
  border: 1px solid rgb(255, 0, 170);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 5px;
  align-self: self-end;
}
.toggle:hover {
  cursor: pointer;
}
.toggle-dark {
  background-color: rgb(255, 0, 170);
  justify-content: flex-end;
}

.toggle-circle {
  width: 18px;
  height: 18px;
  background-color: rgb(255, 0, 170);
  border-radius: 100px;
  /* position: absolute; */
  right: 2.5px;
  display: flex;

  align-items: center;
  justify-content: center;
}
.tc-dark {
  background-color: aliceblue;
}

.themeIcon {
  font-size: 10px;
  color: rgb(255, 255, 255);
}
.toggled-icon {
  color: rgb(255, 0, 170);
}

/* input container area */

.input-box {
  width: 100%;
  height: 90px;
  background-color: aliceblue;
  border: none;
  padding: 10px;
  text-align: right;
  font-size: 30px;
  font-weight: 400;
  outline: none;
  color: rgba(0, 0, 0, 0.68);
  font-family: "Orbitron", serif;
}
.control {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15px;
}
.control-dark {
  color: aliceblue;
}
.contaier-btns {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 15px;
}
.con-small {
  background-color: rgb(227, 233, 245);
  height: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
}
.zero {
  grid-column: 2/4;
}

.pink-btn {
  background-color: rgb(255, 0, 170);
  color: aliceblue;
}
.dark-theme-input {
  color: aliceblue;
  background-color: rgb(29, 29, 29);
}

.darken-btns {
  background-color: rgba(240, 248, 255, 0.111);
  color: aliceblue;
}
